{% extends "users/base.html" %}
{% load i18n static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% trans "تحقق من بريدك الإلكتروني" %}</title>
    <link rel="stylesheet" href="{% static 'css/verify_email.css' %}">
{% endblock %}

{% block content %}
    <header class="fixed-header">
        <div class="logo-container">
            <img src="https://i.postimg.cc/FzSYsKp6/logo-1.jpg" alt="Trafico Logo" class="logo">
        </div>
    </header>
    <div class="container">
        <div class="mode-toggle">
            <button id="mode-toggle" class="btn-mode" title="{% trans 'تبديل إلى الوضع المظلم' %}">
                <span class="mode-icon">☀️</span>
            </button>
            <button id="lang-toggle" class="btn-mode" title="{% trans 'تبديل اللغة' %}">
                <span class="lang-icon">{% get_current_language as LANGUAGE_CODE %}{% if LANGUAGE_CODE == 'ar' %}🇸🇦{% else %}🇬🇧{% endif %}</span>
            </button>
        </div>
        <h2 data-en="Verify Your Email">{% trans "تحقق من بريدك الإلكتروني" %}</h2>
        <p data-en="Enter the verification code sent to your email. The code is valid for two minutes.">{% trans "أدخل كود التحقق الذي تم إرساله إلى بريدك الإلكتروني. الكود صالح لمدة دقيقتين." %}</p>
        <form method="post" class="form-animated">
            {% csrf_token %}
            <div class="form-group">
                <label for="verification_code" data-en="Verification Code">{% trans "كود التحقق" %}</label>
                <input type="text" name="verification_code" id="verification_code" class="form-input" required placeholder="{% trans 'كود التحقق' %}">
            </div>
            <button type="submit" class="btn-primary animated-button" data-en="Verify">{% trans "تحقق" %}</button>
        </form>
        {% if messages %}
            <div class="form-messages">
                {% for message in messages %}
                    <div class="form-error">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <footer class="footer">
        <p>&copy; 2025 Creativity Code. {% trans "جميع الحقوق محفوظة" %}</p>
    </footer>
    <script src="{% static 'js/verify_email.js' %}?v={% now 'U' %}"></script>
{% endblock %}